@font-face {
  font-family: "SFProDisplayMedium";
  src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
}

main {
  flex-grow: 1;
}

header {
  width: 100%;
  height: 72px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.logo-main {
  padding-right: 500px;
}
.logo-main img {
  width: 110px;
  transform: scale(0.8);
}

.logos {
  display: flex;
}

.logos img {
  transform: scale(0.8);
  width: 75px;
  height: 45px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.content {
  width: 768px;
  height: auto;
  background-color: #f9f9f9;
  background: linear-gradient(
    112.73deg,
    rgba(247, 247, 247, 0.5) 0%,
    rgba(217, 217, 217, 0.5) 100%
  );
  border-radius: 20px;
  text-align: center;

  display: block;
}

.content-title {
  font-size: 20px;
  font-family: "SFProDisplayMedium", sans-serif;
  margin-top: 40px;
  font-weight: bold;
  color: #2c2c2c;
  display: block;
}

.content-photos {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-photos .timer {
  height: 75px;
  width: 75px;
  margin-right: 25px;
  margin-bottom: 10px;
}
.content-photos .mobile {
  width: 75px;
}

.content-paragraph {
  padding-top: 15px;
}

.content-paragraph a {
  text-align: center;
  color: #545454;
  font-family: "SFProDisplayMedium", sans-serif;
  font-weight: 500;
  line-height: 32.5px;
  font-size: 16px;
  width: 80%;
  display: inline-block;
}

.content-btns {
  padding-top: 20px;
  padding-bottom: 40px;
  
}

.content-btns .passcode-input input {
  width: 92%;
  font-size: 18px;

  height: 40px;
  border-radius: 7px;
  background-color: #dbdbdb;

  border: none;

  text-align: center;

  font-family: "SFProDisplayMedium", sans-serif;
  font-weight: 500;
}

.content-btns .passcode-input input::placeholder {
  
  text-align: center;
  color: #424242;
}

.content-btns .passcode-input input:focus {
  border-color: inherit;
  outline: none;
  border: none;
}

.content-btns .continuar {
  margin-top: 10px;
  font-size: 18px;
  width: 210px;
  display: inline-block;

  font-family: "SFProDisplayMedium", sans-serif;
  font-weight: 500;

  color: white;
  border-radius: 7px;
  padding: 10px 0;
  background-color: #337581;
}

.content-btns .continuar:hover {
  background-color: #3c8795;
  transition: 0.3s;
  cursor: pointer;
}

.campo {
  display: none;
  padding-top: 20px;

  width: 92.5%;
  padding-bottom: 10px;
}

.campo a {
  font-family: "SFProDisplayMedium", sans-serif;
  color: red;
  font-size: 17.5px;
}

footer {
  width: 100%;
  margin: 0 auto;
}

footer div img {
  display: block;
  height: 200px;
  object-fit: initial;
  width: 100%;
}

.timer {
  position: relative;
}

.timer-value {
  font-family: "SFProDisplayMedium";
  width: 44px;
  height: 25px;
  font-weight: normal;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  font-size: 21px;
  margin-top: -12.5px;
  text-align: center;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 2px;
  stroke: linear-gradient(
    112.73deg,
    rgba(247, 247, 247, 0.5) 0%,
    rgba(217, 217, 217, 0.5) 100%
  );
}

.base-timer__path-remaining {
  stroke-width: 4.35443px;

  stroke-linecap: round;

  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  filter: drop-shadow(0px 2.17721px 2.17721px rgba(0, 0, 0, 0.13));
  stroke: currentColor;
  color: #337581;
}

.base-timer__svg {
  transform: scale(-1, -1, 0);
}

.error-popup-container {
  position: fixed;
  display: none;
  z-index: 1001;
}

.error-popup-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.error-popup-container:hover::before {
  display: block;
}

.error-popup-content {
  position: fixed;
  background-color: #f2f2f2;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  z-index: 1002;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}

.error-popup-container:hover .error-popup-content {
  display: flex;
}

.error-popup-elements{
  
  width: 75%;
  height: 70%;
  background: linear-gradient(112.73deg, rgba(243, 243, 243, 0.5) 0%, rgba(217, 217, 217, 0.5) 100%);
  border-radius: 20px;

  align-items: center;
  text-align: center;
  justify-content: center;
}

.error-popup-element-error {
  padding-top: 40px;
  padding-bottom: 30px;
}
.error-popup-element-error img{
  width: 60px;
}

.error-popup-element-title {
  display: inline-block;
  width: 80%;
  padding-bottom: 20px;
}

.error-popup-element-paragraph{
  display: inline-block;
  width: 80%;
  padding-bottom: 30px;
  
}

.error-popup-element-title a{
  font-size: 18px;
  font-weight: bold;
  color: #2c2c2c;
  font-family: "SFProDisplayMedium", sans-serif;
}

.error-popup-element-paragraph a{
  color: #545454;
  font-family: "SFProDisplayMedium", sans-serif;
  font-weight: 500;
  line-height: 32.5px;
  font-size: 17px;
}

.error-popup-content-closer{
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px;
  cursor: pointer;
}
.error-popup-content-closer img{
  width: 20px;
}



@media screen and (max-width: 850px) {
  
  header {
    justify-content: space-between;
  }
  .logo-main {
    padding-right: 0;
    margin-left: 40px;
    padding-top: 5px;
  }

  .logo-main img {
    width: 95px;
    transform: scale(0.8);
  }

  .content-paragraph a {
    font-size: 15px;
  }

  .campo a {
    font-size: 15px;
  }

  .content-title {
    font-size: 17px;
  }

  .logos {
    display: flex;
    margin-right: 35px;
    padding-top: 5px;
  }

  .content {
    width: 89%;
  }

  .logos img {
    transform: scale(0.7);
    width: 65px;
    height: 40px;
  }

  .container {
    padding-bottom: 25px;
  }

  .error-popup-content {
    height: auto;
    width: 85%;
  }

  .error-popup-content {
    padding: 40px 10px;
  }

}

@media screen and (max-height: 750px) {
  .content-btns .continuar{
    width: 150px;
  }
  .content-title {
    font-size: 15px;
  }

  .content-paragraph a {
    font-size: 13px;
    line-height: 28px;
  }
  .campo a {
    font-size: 13px;
  }
  .content-title {
    margin-top: 20px;
  }

  .content-btns .passcode-input input {
    height: 40px;
  }

  .content-btns {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .content-photos .mobile {
    width: 55px;
  }

  .campo {
    padding-top: 10px;

    width: 92.5%;
    padding-bottom: 0px;
  }
  svg {
    scale: 0.8;
  }

  .base-timer__path-remaining {
    filter: none;
  }

  .timer-value {
    font-size: 16px;
  }
}

@media screen and (max-width: 330px) {
  .content-title {
    font-size: 13px;
  }

  .content-paragraph {
    padding-top: 15px;
  }

  .content-paragraph a {
    font-size: 11px;
    line-height: 24px;
  }

  .content-title {
    margin-top: 15px;
  }

  .content-photos .mobile {
    width: 55px;
  }

  .content-btns {
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .campo a {
    font-size: 11px;
  }

  .error-popup-element-title a{
    font-size: 18px;
  }
  
  .error-popup-element-paragraph a{
    font-size: 17px;
  }
}
